html, body {
    height: 100%;
    margin: 0%;
}

/* Main Container */

.main-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
    min-height: 100vh;
    justify-content: space-between;
}

header {
    order: 0;
    flex: 1;
}

main {
    order: 1;
    flex: 6;
}

footer {
    order: 2;
    flex: 1;
}


/* Header */
header {
    background-color: lightblue;
}

header > h2 {
    padding: 1%;
    margin: 0%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
}

/* main */
main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.decimal-number-to-convert {
    order: 0;
    flex: 1;
}

.binary-number-to-convert {
    order: 1;
    flex: 1;
}

.hex-number-to-convert {
    order: 2;
    flex: 1;
}

main > div {
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 1%;
    margin-top: auto;
    margin-right: 20%;
    margin-left: 10%;
    margin-bottom: auto;
}

/* Number Containers with Label and Input */

.number-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: left;
}

.number-container > label {
    order: 0;
    flex: 1;
}

.number-container > .input-container {
    order: 1;
    flex: 1;
    width: 100%;
}

/* Labels */
label {
    font-family: "Lucida Console", monospace;
    font-size: x-large;
    color: darkmagenta;
    padding-bottom: 1%;
}

input {
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    font-weight: bolder;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-color: lightgray;
    min-width: 100%;
}

input:focus {
    outline: none;
}

/* Footer */

footer {
    padding: 1%;
    margin: 0%;
    font-family: "Lucida Console", monospace;;
    font-size: medium;
}
