html {
    background-color: lightgrey;
}

body {
    margin: auto;
    font: 1.2em sans-serif;
}

.main-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    min-height: 100vh;
    justify-content: space-between;
}

/* Header */
.header {
    order: 0;
}

#title-bar {
    background-color: darkgreen;
    color: white;
    margin-top: 0px;
    padding-top: 5px;
    padding-left: 30px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

/* Main */
.main {
    order: 1;
}

.main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.cards-and-scores {
    order: 0;
    flex: 2;
}

.card-lists {
    order: 1;
    flex: 1;
}

/* Cards and Scores */
.cards-and-scores {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.cards-and-scores > div {
    flex-grow: 1;
    width: 50%;
}

.cards {
    order: 0;
    flex: 1;
}

.scores {
    order: 1;
    flex: 1;
}

/* Card Image */
#current-card-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 125px;
    width: 182px;
}

/* Scores and Result*/
.scores {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.current-score {
    order: 0;
    flex: 2;
}

.result {
    order: 1;
    flex: 1;
}

/* Scores */
.current-score {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.player-score {
    order: 0;
    flex: 1;
}

.house-score {
    order: 1;
    flex: 1;
}

/* Player Score */
.player-score {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

#player-score-label {
    order: 0;
    flex: 1;
}

#player-score-value {
    order: 1;
    flex: 3;
    color: darkgreen;
}

/* House Score */
.house-score {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

#house-score-label {
    order: 0;
    flex: 1;
}

#house-score-value {
    order: 1;
    flex: 3;
    color: darkblue;
}

/* Result */
.result {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

#result-label {
    order: 0;
    flex: 1;
    margin-left: 10%;
}

#result-text {
    order: 1;
    flex: 3;
    margin-left: 10%;
}


/* Card Lists */
.card-lists {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.card-lists > div {
    flex-grow: 1;
    width: 50%;
}

.player-cards {
    order: 0;
    flex: 1;
}

.house-cards {
    order: 1;
    flex: 1;
}

/* player Cards */
.player-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#player-cards-label {
    order: 0;
    flex: 1;
}

#player-cards-list {
    order: 1;
    flex: 2;
}


/* house Cards */
.house-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#house-cards-label {
    order: 0;
    flex: 1;
}

#house-cards-list {
    order: 1;
    flex: 2;
}

/* Footer */
.footer {
    order: 2;
}

.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#hit {
    order: 0;
}

#stay {
    order: 1;
}

.footer > button {
    flex-grow: 1;
    font-size: x-large;
    height: 50px;
    background-color: lightgoldenrodyellow;
    width: 50%;
}